.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0px;
}

.heading {
  padding: 2rem;
  background-color: #1e293b ;
  color: #f1f5f9;
}

.heading h1 {
  padding-bottom: 1rem;
}

button{
  margin-right: 1rem;
  font-size: 14px;
  background-color: #e2e8f0;
  padding: 0.5rem;
  border-radius: 12px;
  margin-top: 3rem;
  cursor: pointer;
  border-color: white;
}

.fiction-list{
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content-books{
  padding: 2rem;
  display: inline-block;
  margin-top: 1rem;
}

.content-books img{
  height: 50vh;
}


.content-books li{
  listStyle: "none",
  width: "50%",
  margin: "1rem"
}

footer{
  background-color:  #1e293b;
  height: 5rem;
  color: #f1f5f9;
 
}

.footer-content{
 padding-top: 2rem;
 
}

